@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&family=RocknRoll+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  body,
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
  }
  a {
    @apply font-secundary text-[1rem] lg:text-[1.125rem];
  }
  p {
    @apply font-secundary text-[1rem] md:text-[1.150rem] lg:text-[1.250rem];
  }
  h1 {
    @apply font-primary text-[2.250rem] md:text-[2.925rem] lg:text-[4.125rem];
  }
  h2 {
    @apply font-secundary text-[3.250rem];
  }
  h3 {
    @apply font-secundary text-[2.785rem];
  }
  h4 {
    @apply font-secundary lg:text-[2.250rem];
  }
  h5 {
    @apply font-secundary text-[1.44rem] md:text-[1.63rem] lg:text-[2rem];
  }
  h6 {
    @apply font-secundary text-[1.225rem]  md:text-[1.375rem] lg:text-[1.625rem];
  }
  header {
    @apply w-full fixed top-0;
  }
  nav {
    @apply flex flex-col items-center md:flex-row gap-y-5 md:gap-x-8;
  }
}

@layer components {
  .header-container {
    @apply bg-jet/50 py-[1.25rem] px-[1.25rem] backdrop-blur-[10px] md:flex items-center justify-between;
  }
  .header-menu-icon {
    @apply h-9 w-9 absolute right-5 top-5;
  }
  .header-social-container {
    @apply mb-3 md:mb-0 items-center gap-x-4 md:gap-x-5 lg:gap-x-8;
  }
  .header-social-icon {
    @apply text-white text-[1.625rem] md:text-[1.825rem] lg:text-[2.125rem];
  }
  .home-section {
    @apply bg-home w-full h-screen flex items-center;
  }
  .home-description {
    @apply flex flex-col gap-y-[1rem] ml-[1.5rem] md:ml-[4rem];
  }
  .about-section {
    @apply bg-eerie w-full p-[3.5rem_2rem] flex flex-col md:flex-row items-center justify-evenly gap-y-8;
  }
  .about-content {
    @apply w-[325px] sm:w-[380px] md:w-[440px] md:mr-[2rem] flex flex-col gap-y-2;
  }
  .about-image {
    @apply bg-about w-[325px] sm:w-[380px] md:w-[460px] h-[200px] md:h-[270px] bg-cover rounded-[8px] border-pumpkin border-[2px];
  }
}

@layer utilities {
  .nav-link-hover,
  .header-social-icon-hover {
    @apply pointer-events-none md:pointer-events-auto hover:text-pumpkin duration-500 hover:ease-in-out md:cursor-pointer;
  }
}
